.modal-content{
  border: none !important;
}
.full-screen{
  min-height: 100vh;
  min-width: 100vw;
  background: url("../img/handshake-3382503_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Outfit', sans-serif;
}
#loginStdModal .btn{
  min-width: 135px;
}

.btn-orange{
  background-color: #e4601c !important;
  color: #fff;
  padding: 5px 45px;
}
.btn-orange:hover{
  color: #fff;
}
.btn-orange img{
  display: inline-flex;
}

.btn-white{
  background-color: #fff !important;
  border: 1px solid #737373;
  color: #737373;
  padding: 5px 45px;
}
.btn-white:hover{
  color: #e4601c;
}

.btn-fix-size{
  height: 39px;
  min-width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper-card{
  background-color: #f4f8fc;
  border-radius: 6px;
  padding:  15px;
}
.wrapper-card:hover{
  cursor: pointer;
  box-shadow: 0px 0px 7px 0px rgba(32,60,255,0.43);
}

.wrapper-card .btn-secondary, #loginStdModal .btn-secondary{
  background-color: #fff;
  border-color: #fff;
  color: #a3a3a3;
  padding:  5px 40px;
}
#loginStdModal .btn-secondary{
  border-color: #e9ecef;
  color: #000;
}

.wrapper-card:hover .btn-secondary , #loginStdModal .btn-secondary:hover{
  background-color: #e4601c;
  border-color: #e4601c;
  color: #fff;
}
#trainerModal .modal-header, #studentModal .modal-header{
  background-color: #f4f8fc;
  padding-bottom: 0px;
  border-bottom: none;
  justify-content: center;
}
.back i{
    border-radius: 50%;
    border: #bfbfbf 1px solid;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    font-size: 12px;
}
.back a{
    color: #bfbfbf;

}
.back a:hover{
    color: #e4601c;
    text-decoration: none;
    
}
.back a:hover i{
    border: #e4601c 1px solid;
    color: #e4601c;
    
}

.title{
  font-size: 26px;
  font-weight: 600;
}

.form-wrapper{
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
  max-width: 700px;
  padding: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2b388f;
    display: block;
}
.mylogo{
  max-width: 120px;
}
.upload-link{
  font-size: 14px;
  font-weight: 600;
  color: #737373;
  text-decoration: underline;
}
.reg-title{
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
}

label{
  font-weight: 500;
  color: #2b2b2b;
  margin-bottom: 0.3rem;
}

input.form-control, select.form-control{
  border-radius: 3px;
  background-color: #fbfbfb !important;
  color: #737373 !important;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e6dede;
  outline: none !important;
}
input.form-control:focus, select.form-control:focus{
  border-color: #e4601c !important;
  box-shadow: none !important;
  outline-offset: unset !important;
}
.navbar{
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  height: 97px;
}
.navbar .navbar-menu-wrapper{
  width: auto !important;
  background-color: transparent;
}
.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

.main-panel{
  background-color: #f0f4f6;
  padding: 15px;
}

.sidebar{
  background-color: #fff;
  padding: 20px 10px;
  font-family: 'Outfit', sans-serif;
}

@media (max-width: 991px){
  .main-panel{
    width: calc(100% - 100px)
  }
  .sidebar{
    width: 100px;
  }
}

.side-wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.menu-btn{
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 95px;
  height: 95px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  color: #adadad;
  margin-bottom: 20px;
}
.menu-btn .normal{
  display: block;
  transition: .2s easy-out;
  margin: auto
}
.menu-btn .active{
  display: none;
  transition: .2s easy-out;
  margin: auto
}
.menu-btn:hover, .menu-btn.active{
  color: #e4601c;
  border: 1px solid #e4601c;
  text-decoration: none;
}
.menu-btn:hover .normal, .menu-btn.active .normal{
  display: none;
}
.menu-btn:hover .active, .menu-btn.active .active{
  display: block;
}

.b-bottom{
  border-bottom: 1px solid #dee2e6;
}

.input-group > .form-control.search-input{
  padding-left: 25px;
}

@media (min-width: 992px){
.sidebar-icon-only .sidebar {
    width: 100px;
    background: #fff;
  }
.input-group > .form-control.search-input{
  width: 300px;
  background-color: #fff !important;
  border: 1px solid #ddd;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  color: #868686;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


}
.input-group > i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    left: 5px;
    height: 100%;
    color: #ddd
}
}

@media (max-width: 991px){
  .page-body-wrapper{
    padding-top: 83px;
  }
  .sidebar{
    width: 100px;
    position: fixed;
    left: 0px;
    transition: .3s ease-out;
    transform: translateX(-100%);
  }
  .sidebar-icon-only .sidebar {
    transform: none;
    position: relative;
  }
}

.main-panel .content-wrapper, .main .content-wrapper{
  background-color: #fff;
  border-radius: 6px;
  padding: 15px 0px;
}
.main-panel .content-wrapper .content, .main .content-wrapper .content{
  padding: 0px 10px;
}

.main-panel .content-wrapper h2, .main .content-wrapper h2{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
}

.table-responsive{
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
}

.table thead th, .table td{
  font-size: 16px;
  border-top: unset;
}
.table-responsive .fa-ellipsis-h:hover{
  cursor: pointer;
}
.act{
  position: relative !important;
}
.act .action-box{
  position: absolute;
  bottom: 0%;
  right: 50px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px #dee2e6;
  z-index: 10;
  display: none;
}
.act .action-box.show{
  display: block;
}
.btn.actions{
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
  display: block;
  padding: 5px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  box-shadow: 1px 0px 5px -3px rgba(0,0,0,0.75)
}
.btn img{
  display: inline-flex;
  margin-right: 2px;
  width: 18px !important;
  height: 18px !important;
}
.btn.btn-gray{
  background: #d3d3d3;
  color: #fff;
  font-weight: 500;
}
.action-box .btn{
  min-width: 252px;
  font-size: 16px !important;
}
.btn .fa-file{
  color: #334093 !important;
  margin-right: 5px;
  font-size: 13px !important;
}
.btn .fa-edit{
  color: #33c85e !important;
  margin-right: 5px;
  font-size: 13px !important;
}
.btn .fa-clock, .btn .fa-user-edit{
  margin-right: 5px;
  font-size: 15px !important;
}
.btn .fa-minus, .users .fa-minus, .users .fa-plus{
  color: red !important;
  border: 1px solid red;
  border-radius: 50%;
  padding-top: 2px;
  height: 15px;
  width: 15px;
  display: inline-flex;
  font-size: 10px !important;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
} 

.btn .fa-share-alt{
  color: #e4601c !important;
  margin-right: 5px;
  font-size: 13px !important;
}

.users .fa-plus{
  color: green !important;
  border: 1px solid green;
  height: 18px;
  width: 18px;
}

.users .fa-minus:hover, .users .fa-plus: hover{
  cursor:  pointer;
}

.btn .fa-file-import, .btn .fa-cloud-upload-alt{
  margin-right: 5px;
}

.table tbody tr:nth-of-type(even) {
    background-color: #fbfbfb !important;
}

.dotted-input{
  border-radius: 6px;
  border: 1px dashed #000;
}

.card{
  box-shadow: none;
}
.card .card-body{
  padding: 0;
}
.card-header:first-child{
  padding: 0;
  background-color: transparent;
  border-bottom: none;
}

.accordion-item{
  background-color: transparent;
  border: none;
  position: relative;
  font-family: 'Outfit', sans-serif;
}

.accordion-item .box{
  background-color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  height: 100%;
  min-height: 135px;
}

.accordion-item .box h4{
  font-size: 18px;
  font-weight: 700;
  color: #2b2b2b;
  
}
.accordion-item .box p{
  font-size: 16px !important;
}

.accordion-item .box button, .accordion-item .box .value{
  color: #e4601c;
  font-size: 16px;
}

.accordion-item .box .img-wrapper, .modal-body .img-wrapper{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 6px;
  height: 100%;
}

.accordion-item .box .img-wrapper a, .modal-body .img-wrapper a{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.accordion-item .box .img-wrapper a:hover, .modal-body .img-wrapper a:hover{
  text-decoration: none;
  color: #e4601c;
}

.accordion-item .box .img-wrapper a i, .modal-body .img-wrapper a i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1b23;
  color: #1d1b23;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  margin-right: 5px;
}

.accordion-item .box .img-wrapper a:hover i, .modal-body .img-wrapper a:hover i{
  color: #e4601c;
  border-color: #e4601c;
}

.accordion-item .box .img-wrapper .wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: #f0f2f5;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px
}

.accordion-item .box .icons-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-item .box .icons-wrapper a{
  color:  #898989;
}
.accordion-item .box .icons-wrapper a:hover{
  color:  #e4601c;
  text-decoration: none;
}

.accordion-item .box .icons-wrapper a i{
  border: 1px solid #898989;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;

}

.accordion-item .box .icons-wrapper a:hover i{
  border-color:  #e4601c;
}

.accordion-item .box [type='checkbox'], .check-group .form-check [type='checkbox']{
  color: #e4601c;
}
.accordion-item .box input.form-control{
  width: 50%;
}

.accordion-item .form-check-input{
  margin-left: 0;
  margin-top: 2px;
  border-color:  #e4601c !important;
}

.accordion-item .form-check-input:focus, .check-group .form-check-input:focus{
  outline:  unset;
  box-shadow: none
} 

.accordion-item .form-check .form-check-label{
  margin-left: 1.5rem;
}
.accordion-item .opt{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 768px){
 .accordion-item .opt{
   position: relative;
 }
}

.accordion-item .opt .form-check, .check-group{
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
  width: fit-content;
  min-width: 132px;
  margin: auto;
  position: relative;
}
.check-group .form-check{
  padding-left: 1.5em;
}
.accordion-item .opt .form-check .form-check-label, .check-group .form-check .form-check-label{
  margin-left: 0;
  width: max-content;
  font-size: 16px;
  font-weight: 600;
}
.accordion-item .opt .form-check .form-check-input, .check-group .form-check .form-check-input{
  float: none !important;
  position: absolute;
  left: 0;
  margin-left: 0;
}

.actions-wrapper .btn{
  padding: 11px 10px;
}
.actions-wrapper{
  position: relative;
  width: 100%;
}
.actions-wrapper .box{
  background: #fff;
  padding: 20px 0
}
.actions-wrapper .actions{
  position: absolute;
  right: 0px;
  bottom: 12px;
}
@media (max-width: 768px){
 .actions-wrapper .actions{
   position: relative;
   padding: 5px;
   bottom: 0;
 }
 .actions-wrapper .box {
    background: #fff;
    padding: 20px 15px;
    border-radius: 6px;
  }
}
.modal-header{
  border-bottom: none;
}

.modal-footer{
  border-top: none;
}

.modal-header h3{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Outfit'
}

.modal-body .intro{
  padding: 20px;
  border-radius: 10px;
  background: #f8f9fa;
  height: 100%;
}

.modal-body .question-wrapper{
  padding: 20px 0 0;
}
.modal-body .img-wrapper{
  padding: 3px;
}
.modal-body .form-group label{
  font-size: 16px;
  font-family: 'Outfit'
}
.import-form label{
  color:  #2b2b2b;
  font-weight: 600;
  font-size: 16px;
}

.more{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  position: relative
}
.more span{
  background:#fff; 
  padding:0 10px;
  position: absolute;
  margin: auto;
  top: -8px;
  left: calc(50% - 73px);
  cursor:  pointer;
}
@media (min-width: 768px){
 .modal-md{
   max-width: 650px !important;
 }
}
.datepickers, .datetimepicker-input{
  min-width: 100%;
  position: relative;
}
.datepickers i{
  position: absolute;
  right: 5px;
  color: #ddd;
  bottom: 8px;
}
.bootstrap-datetimepicker-widget table th{
  font-size: 14px;
  width: auto;
  height: auto;
  padding: 0.25rem 0.25rem
}
.bootstrap-datetimepicker-widget table td{
  font-size: 14px;
  padding: 0.25rem 0.25rem
  
}
.bootstrap-datetimepicker-widget table td.day{
  width: auto;
  height: auto;
  line-height: 16px;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
  background-color:  #e4601c ;
}
.bootstrap-datetimepicker-widget .picker-switch td span{
  background-color: #dee2e6;
  color: #343a40;
}
.bootstrap-datetimepicker-widget .timepicker .timepicker-picker a.btn{
  color: #e4601c;
}
.bootstrap-datetimepicker-widget .timepicker .timepicker-picker span:hover{
  color: #fff;
  background-color: #e4601c;
}
.bootstrap-datetimepicker-widget .btn[data-action=togglePeriod]{
  background-color: #e4601c;
  border-color: #e4601c;
}

.fix-table{
  max-height: 341px;
}

.main{
  width: 100%;
  min-height: calc(100vh - 97px);
  background-color: #f3f6f8;
}

.welc{
  position: relative;
  min-height: 450px;
  font-family: 'Outfit', sans-serif;
}
.welc img:not(.centered){
  position: absolute;
  bottom: 0;
  right: 10px
}
.welc h1{
  font-size: 40px;
  font-weight: 700;
  color: #e4601c;
  font-family: 'Outfit', sans-serif;
}
.welc h3{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}
.welc h6{
  font-size: 18px;
  font-weight: 600;
  color: #494949;
  font-family: 'Outfit', sans-serif;
}
.welc p{
  font-size: 16px;
}
.welc .btn-orange{
  padding: 10px 60px;
  font-size: 16px;
}
.welc .btn-orange i{
  font-size: 12px;
}
.welc .image-wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: #f0f2f5;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
.welc .box{
  border-radius: 6px;
  padding: 7px;
  margin-bottom: 15px;
}
.welc .box [type='checkbox'] {
    color: #e4601c;
    margin-left: 0;
    margin-top: 4px;
    border-color: #e4601c !important;
    position: absolute;
    left: 0;
}
.welc .form-check-input:focus{
  outline: unset;
  box-shadow: none;
} 

.welc .form-check .form-check-label{
  font-size: 16px;
  margin-left: 1.5rem
}

.users-wrapper{
  max-height: 264px;
}

.pagination .page-item .page-link{
  color:  #999999 !important;
}

.pagination .page-item.active .page-link, .pagination .page-item:hover .page-link, .pagination .page-item:focus .page-link, .pagination .page-item:active .page-link{
  color:  #fff !important;
  background-color: #e4601c !important;
  border-color: #e4601c !important;
  border-radius: 6px;
}
